<app-navbar />
<div class="container pt-5">
    <table class="table">
        <thead>
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Email </th>
                <th> Class Details</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentList">
                <td> {{student.id}} </td>
                <td> {{student.name}} </td>
                <td> {{student.email}} </td>
                <td>Physics, Maths, IT</td>
                <td class="d-flex gap-3">
                    <button type="button" class="updatebtn">Update</button>
                    <button type="button" class="deletebtn">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

