<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="d-flex align-items-center d-sm-block form-container">
            <form class="col-sm-10">
              <span class="fs-4 fw-bold sign-in-header">Sign up here</span>
              <p class="sign-in-discription">If you have account You can <a class="register-text fw-bold" routerLink="/">Login here!</a> </p>
              <div class="mt-4 mb-4 w-100">
                <label class="form-label">Name</label>
                <input type="name" [(ngModel)]="name" class="form-control form-control-lg mb-4" placeholder="Name" name="name" required />
                <label class="form-label">Email</label>
                <input type="email" [(ngModel)]="email" class="form-control form-control-lg mb-4" placeholder="Email address" name="email" required />
                <label class="form-label">Password</label>
                <input type="password" [(ngModel)]="password" class="form-control form-control-lg mb-4" placeholder="Password" name="password" required />
                <label class="form-label">Confirm Password</label>
                <input type="password" [(ngModel)]="confirmPassword" class="form-control form-control-lg mb-4" placeholder="confirm password" name="confirmPassword" required />
              </div>
              <button class="btn btn-lg w-100 mb-4 text-white fs-6" type="submit" (click)="register()">Sign up</button>
            </form>
          </div>
        </div>
        <div class="d-flex col-sm-6 px-0 d-none d-sm-block login-image">
          <img src="assets/images/login.svg" alt="Login image" class="w-100 vh-100" />
        </div>
      </div>
    </div>
  </section>