<nav class="navbar navbar-light px-5 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand">
        <img src="assets/images/logo.png" alt="Logo" width="100" height="50" class="d-inline-block align-text-top">
    </a>
    <div class="d-flex">
      <a routerLink="/student" routerLinkActive="active" class="nav-text">
        Students
      </a>
      <a routerLink="/teacher" routerLinkActive="active" class="nav-text">
        Teachers
      </a>
      <a routerLink="/class" routerLinkActive="active" class="nav-text">
        Classes
      </a>
    </div>
  </div>
</nav>
