.alert-text {
    font-size: 13px;
}

.close-btn {
    font-size: 15px;
    color: #021933;
    background-color: transparent;
    border: none;
    padding-left: 30px;
    cursor: pointer;
}

.alert {
    top: 70px;
    right: 10px;
    z-index: 10000;
}