.login-image {
    background-color: #021933;
    object-fit: cover;
    object-position: left;
}

.sign-in-header {
    color: #021933;
}

.sign-in-discription {
    color: #021933;
    font-size: 13px;
}

.register-text {
    color: #4d79ab;
}

.form-label {
    color: #021933;
    font-size: 14px;
    font-weight: 500;
}

.form-control {
    font-size: 14px;
}

.btn {
    background-color: #123458;
    color: white;
}

.btn:focus,
.btn:active {
  background-color: #123458 !important;
  color: white !important;
}

.form-select option {
    font-size: 12px;
}

.form-select option:hover {
    background-color: red;
}

.form-select {
    font-size: 14px;
}

.form-check-label  {
    font-size: 13px;
}


