
.table th {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table td {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.deletebtn {
    font-size: 13px;
    background-color: white;
    border: 1px solid #D5451B;
    border-radius: 5px;
    color: #D5451B;
    padding: 2px;
}

.deletebtn :hover {
    background-color: #f5dbd3;
}

.updatebtn {
    font-size: 13px;
    background-color: white;
    border: 1px solid #4E6688;
    border-radius: 5px;
    color: #4E6688;
    padding: 2px 2px;
}

.updatebtn :hover {
    background-color: #dfe4f2;
}