.login-image {
    background-color: #021933;
    object-fit: cover;
    object-position: left;
}

.sign-in-header {
    color: #021933;
}

.sign-in-discription {
    color: #021933;
    font-size: 13px;
}

.register-text {
    color: #4d79ab;
}

.form-label {
    color: #021933;
    font-size: 14px;
    font-weight: 500;
}

.form-control {
    font-size: 14px;
}

.login-btn {
    background-color: #123458;
}

.form-container {
    padding-top: 80px;
    margin: 40px;
}

